<!DOCTYPE html>
<html>
<head>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    button {
        margin-bottom: 10px;
    }
    p {
        font-size: 12px;
        display: inline-block;
        margin:0;
        padding:0;
    }
    a {
        color:#1154cc;
        font-size: 12px;
    }
</style>
</head>
<body>

    <p>Events</p>
    <br>
    <input type="text" placeholder="Event Name">
    <button>Create Event</button>
    <br>
    <p>Event 1</p>
    <p>512-512-1231</p>
    <br>
    <p>Event 2</p>
    <p>512-512-1231</p>
    <br>
    <p>Event 3</p>
    <p>512-512-1231</p>

    <br>
    <br>
    <br>

    <p>Phone Numbers</p>
    <br>
    <input type="text" placeholder="Area Code">
    <button>Buy A Number</button>
    <br>
    <p>512-512-1231</p>
    <br>
    <p>512-512-1231</p>
    <br>
    <p>512-512-1231</p>
    
    <br>
    <br>
    <br>

    <a href="/login">logout</a>

</body>
</html>