<!DOCTYPE html>
<html>
<head>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/css/dashboard.css" rel="stylesheet">
</head>
<body>

    <p id="status"></p>

    <div class="tallBreak"></div>

    <div id="eventDiv" style="display:none;">
        <p>Events</p>
        <br>
        <input id="createEventName" type="text" placeholder="Event Name">
        <button id="createEvent">Create Event</button>
        <br>
    </div>

    <div class="smallBreak"></div>

    <div id="phoneDiv" style="display:none;">
        <p>Phone Numbers</p>
        <br>
        <input id="areaCode" type="text" placeholder="Area Code">
        <button id="purchasePhone">Buy A Number</button>
        <br>
    </div>

    <div class="tallBreak"></div>

    <a href="/login">logout</a>

    <script>


        var Dashboard = {
            rootUrl:'<%= global.rootUrl %>',
            status:'<%= status %>',
            eventDataArray:null,
            phoneDataArray:null,
            objectIsEmpty:function(obj) {
                if (typeof obj == 'undefined') return true
                if (typeof obj == 'null') return true
                for(var prop in obj) {
                    if (obj.hasOwnProperty(prop)) return false
                }
                return JSON.stringify(obj) === JSON.stringify({})
            },
            createEvent:function() {
                var eventName = document.getElementById('createEventName').value

                if (eventName.length < 1) return

                // Create the request.
                var xhr = new XMLHttpRequest()
                xhr.open("POST", "<%= global.rootUrl %>/createEvent")
                xhr.setRequestHeader("Content-Type", "application/json")
                xhr.onreadystatechange = function() {
                    if (this.readyState == 4) {
                        if (this.status == 200) {
                            window.location.reload()
                        } else {
                            document.getElementById('status').innerText = 'Error creating event.'
                        }
                    }
                }
                // Send the request.
                xhr.send(JSON.stringify({
                    eventName:eventName
                }))
            },
            purchasePhone:function() {
                var areaCode = document.getElementById('areaCode').value

                if (areaCode.length < 1) return

                // Create the request.
                var xhr = new XMLHttpRequest()
                xhr.open("POST", "<%= global.rootUrl %>/purchasePhone")
                xhr.setRequestHeader("Content-Type", "application/json")
                xhr.onreadystatechange = function() {
                    if (this.readyState == 4) {
                        if (this.status == 200) {
                            window.location.reload()
                        } else {
                            document.getElementById('status').innerText = 'Error purchasing number.'
                        }
                    }
                }
                // Send the request.
                xhr.send(JSON.stringify({
                    areaCode:areaCode
                }))
            },
            preparePage:function() {

                var eventDiv = document.getElementById('eventDiv')
                var createEventNameInput = document.getElementById('createEventName')
                var createEvent = document.getElementById('createEvent')
                var phoneDiv = document.getElementById('phoneDiv')
                var areaCodeInput = document.getElementById('areaCode')
                var purchasePhone = document.getElementById('purchasePhone')

                function prepareEvents() {

                    for(var i = 0; i < Dashboard.eventDataArray.length; i++) {
                        var assignedPhoneExists = !Dashboard.objectIsEmpty(Dashboard.eventDataArray[i].phoneData)
                        var a = document.createElement('a')
                        var p = document.createElement('p')
                        var br = document.createElement('br')
                        var eventName = Dashboard.eventDataArray[i].event || Dashboard.eventDataArray[i].name
                        a.href = Dashboard.rootUrl + '/event/' + Dashboard.eventDataArray[i]._id
                        a.innerText = eventName
                        if (assignedPhoneExists) {
                            p.innerText = Dashboard.eventDataArray[i].phoneData.phone
                        } else {
                            p.innerText = ''
                        }
                        eventDiv.appendChild(a)
                        eventDiv.appendChild(p)
                        eventDiv.appendChild(br)
                    }

                    eventDiv.style.display = 'block'
                }

                function preparePhones() {

                    for(var i = 0; i < Dashboard.phoneDataArray.length; i++) {
                        var p = document.createElement('p')
                        var br = document.createElement('br')
                        p.innerText = Dashboard.phoneDataArray[i].phone || Dashboard.phoneDataArray[i].phone
                        phoneDiv.appendChild(p)
                        phoneDiv.appendChild(br)
                    }

                    phoneDiv.style.display = 'block'
                }

                document.getElementById('createEvent').addEventListener('click', function() {
                    Dashboard.createEvent()
                })

                document.getElementById('purchasePhone').addEventListener('click', function() {
                    Dashboard.purchasePhone()
                })

                var statusTitle = document.getElementById('status')
                statusTitle.innerText = Dashboard.status
                prepareEvents()
                preparePhones()
            },
            initialize:function() {
                var postUrl = Dashboard.rootUrl + '/getDashboardData'
                var statusTitle = document.getElementById('status')
                var xhr = new XMLHttpRequest
                xhr.open("POST", postUrl)
                xhr.setRequestHeader("Content-Type", "application/json")
                xhr.onreadystatechange = function() {
                    if (this.readyState == 4) {
                        if (this.status == 200) {
                            Dashboard.eventDataArray = JSON.parse(xhr.response).eventDataArray
                            Dashboard.phoneDataArray = JSON.parse(xhr.response).phoneDataArray
                            Dashboard.preparePage()
                        } else {
                            statusTitle.innerText = 'Error getting data.'
                            return
                        }
                    }
                }
                // Send the request.
                xhr.send(JSON.stringify({
                    eventDataId:Dashboard.id
                }))
            }
        }

        Dashboard.initialize()

    </script>

</body>
</html>