<!DOCTYPE html>
<html>
<head>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/css/event.css" rel="stylesheet">
</head>
<body>

    <p id="status"></p>
    <br>
    <p id="eventName"></p>

    <div id="assignedPhoneDiv" style="display:none;">
        <p id="assignedPhone"></p>
        <button id="releaseAssignedPhone">Release Phone</button>
    </div>

    <div id="availablePhoneDiv" style="display:none;">
        <select id="availablePhone">
        </select>
        <button id="assignAvailablePhone">Assign Phone</button>
    </div>

    <div id="noPhoneDiv" style="display:none;">
        <p>Purchase a number from the <a href="/dashboard">dashboard</a>.</p>
    </div>

        <script>

            var Dashboard = {
                rootUrl:'<%= global.rootUrl %>',
                status:'<%= status %>',
                id:'<%= eventDataId %>',
                eventData:null,
                phoneDataArray:null,
                objectIsEmpty:function(obj) {
                    if (typeof obj == 'undefined') return true
                    if (typeof obj == 'null') return true
                    for(var prop in obj) {
                        if (obj.hasOwnProperty(prop)) return false
                    }
                    return JSON.stringify(obj) === JSON.stringify({})
                },
                assignAvailablePhone:function() {

                    function getSelectedPhoneIndex() {
                        var availablePhone = document.getElementById('availablePhone')
                        return availablePhone.selectedIndex
                    }

                    var selectedPhoneIndex = getSelectedPhoneIndex()
                    var postUrl = Dashboard.rootUrl + '/assignPhone'
                    var statusTitle = document.getElementById('status')
                    var xhr = new XMLHttpRequest
                    xhr.open("POST", postUrl)
                    xhr.setRequestHeader("Content-Type", "application/json")
                    xhr.onreadystatechange = function() {
                        if (this.readyState == 4) {
                            if (this.status == 200) {
                                window.location.reload()
                            } else {
                                statusTitle.innerText = 'Error assigning phone.'
                                return
                            }
                        }
                    }
                    // Send the request.
                    xhr.send(JSON.stringify({
                        eventData:Dashboard.eventData,
                        phoneData:Dashboard.phoneDataArray[selectedPhoneIndex]
                    }))
                },
                releaseAssignedPhone:function() {

                    var postUrl = Dashboard.rootUrl + '/releasePhone'
                    var statusTitle = document.getElementById('status')
                    var xhr = new XMLHttpRequest
                    xhr.open("POST", postUrl)
                    xhr.setRequestHeader("Content-Type", "application/json")
                    xhr.onreadystatechange = function() {
                        if (this.readyState == 4) {
                            if (this.status == 200) {
                                window.location.reload()
                            } else {
                                statusTitle.innerText = 'Error releasing phone.'
                                return
                            }
                        }
                    }
                    // Send the request.
                    xhr.send(JSON.stringify({
                        eventData:Dashboard.eventData,
                        phoneData:Dashboard.eventData.phoneData
                    }))
                },
                preparePage:function() {
                    var eventName = Dashboard.eventData.event || Dashboard.eventData.name
                    var eventTitle = document.getElementById('eventName')
                    var statusTitle = document.getElementById('status')
                    var noPhoneDiv = document.getElementById('noPhoneDiv')
                    var assignedPhone = document.getElementById('assignedPhone')
                    var assignedPhoneDiv = document.getElementById('assignedPhoneDiv')
                    var availablePhone = document.getElementById('availablePhone')
                    var availablePhoneDiv = document.getElementById('availablePhoneDiv')
                    var assignAvailablePhone = document.getElementById('assignAvailablePhone')
                    var assignedPhoneExists = !Dashboard.objectIsEmpty(Dashboard.eventData.phoneData)

                    function prepareAssignedPhone() {
                        assignedPhone.innerText = Dashboard.eventData.phoneData.phone
                        releaseAssignedPhone.addEventListener('click',Dashboard.releaseAssignedPhone)
                        assignedPhoneDiv.style.display = 'block'
                    }

                    function prepareNoPhonesExist() {
                        noPhoneDiv.style.display = 'block'
                    }

                    function preparePhonesExist() {
                        for (var i=0; i < Dashboard.phoneDataArray.length; i++) {
                            var option = document.createElement('option')
                            option.value = Dashboard.phoneDataArray[i].phone
                            option.innerText = Dashboard.phoneDataArray[i].phone
                            option.id = Dashboard.phoneDataArray[i]._id
                            if (i == 0) {
                                option.selected = true
                            }
                            availablePhone.appendChild(option)
                        }
                        assignAvailablePhone.addEventListener('click',Dashboard.assignAvailablePhone)
                        availablePhoneDiv.style.display = 'block'
                    }

                    if (assignedPhoneExists) {
                        prepareAssignedPhone()
                    } else if (Dashboard.phoneDataArray.length == 0) {
                        prepareNoPhonesExist()
                    } else if (Dashboard.phoneDataArray.length > 0) {
                        preparePhonesExist()
                    }

                    // Event Name
                    eventTitle.innerText = 'Event: ' + eventName
                    statusTitle.innerText = 'Status: ' + Dashboard.status
                },
                initialize:function() {
                    var getUrl = Dashboard.rootUrl + '/getEventData'
                    var statusTitle = document.getElementById('status')
                    var xhr = new XMLHttpRequest
                    xhr.open("POST", getUrl)
                    xhr.setRequestHeader("Content-Type", "application/json")
                    xhr.onreadystatechange = function() {
                        if (this.readyState == 4) {
                            if (this.status == 200) {
                                Dashboard.eventData = JSON.parse(xhr.response).eventData
                                Dashboard.phoneDataArray = JSON.parse(xhr.response).phoneDataArray
                                Dashboard.preparePage()
                                console.log(Dashboard.eventData)
                                console.log(Dashboard.phoneDataArray)
                            } else {
                                statusTitle.innerText = 'Error getting data.'
                                return
                            }
                        }
                    }
                    // Send the request.
                    xhr.send(JSON.stringify({
                        eventDataId:Dashboard.id
                    }))
                }
            };

            Dashboard.initialize()

        </script>

</body>
</html>