<!DOCTYPE html>
<html>
<head>
    <title>Trail of Lights 2017</title>
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Trail of Lights 2017" />
    <meta property="og:description" content="Trail of Lights 2017" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>

    <div id="imageContainer">

    </div>

    <script>
        var Home = {
            working:false,
            imageArray:null,
            prepareListener:function() {
                window.addEventListener('scroll',function(e) {
                    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                        if (Home.working == true) {
                            console.log('Still working')
                        } else {
                            console.log('Loading Images')
                            Home.working = true
                            Home.loadImages()
                            setTimeout(function(){
                                Home.working = false
                            },10)
                        }
                    }
                })
            },
            loadImages:function() {
                var count = 0;

                for(var i = 0;i < Home.imageArray.length; i++) {
                    var imageElement = document.createElement('img')
                    imageElement.src = Home.imageArray[i]

                    var aElement = document.createElement('a')
                    var link = Home.imageArray[i].split('shop-lnp-media')[1]
                    var withoutJpg = link.split('.jpg')[0]
                    console.log(link)
                    console.log(withoutJpg)
                    aElement.href = withoutJpg
                    aElement.target = '_blank'
                    aElement.appendChild(imageElement)
                    document.getElementById('imageContainer').appendChild(aElement)

                    count ++
                    if (count == 10) {
                        break;
                    }
                }

                Home.imageArray.splice(0,count)

            },
            initialize:function() {

                if (window.location.href.includes('https')) {

                } else {
                    if (window.location.href.includes('lnp')) {
                        var url = 'https://' + window.location.host + window.location.pathname
                        window.location.assign(url)
                    }
                }

                var postUrl = '<%= global.rootUrl %>' + '/getHomeData'
                var xhr = new XMLHttpRequest
                xhr.open("POST", postUrl)
                xhr.setRequestHeader("Content-Type", "application/json")
                xhr.onreadystatechange = function() {
                    if (this.readyState == 4) {
                        if (this.status == 200) {
                            Home.imageArray = JSON.parse(xhr.response).imageArray
                            console.log(Home.imageArray.length)
                            Home.prepareListener()
                            Home.loadImages()
                        } else {
                            console.log('Error initializing')
                            return
                        }
                    }
                }
                // Send the request.
                xhr.send()
            }
        }

        Home.initialize()

        
    </script>
    

</body>
</html>