<!DOCTYPE html>
<html>
<head>
    <title>Trail of Lights 2017</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        img {
            max-width: 100%;
            height: auto;
        }
        .imagecontainer {
            display: flex;
            width: 100%;
            height: auto;
            flex-direction: row;
            justify-content: center;
        }
    </style>
</head>
<body>

    <div class="imagecontainer"">
        <img src="<%= imageUrl %>">
    </div>
    

</body>
</html>