<!DOCTYPE html>
<html>
<head>
    <title>Trail of Lights 2017</title>

    <meta property="og:url" content="<%= imageUrl %>" />
    <!-- <meta property="og:type" content="article" /> -->
    <meta property="og:title" content="Trail of Lights 2017" />
    <meta property="og:description" content="Trail of Lights 2017" />
    <meta property="og:image" content="<%= imageUrl %>" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        img {
            max-width: 100%;
            height: auto;
        }
        .imagecontainer {
            display: flex;
            width: 100%;
            height: auto;
            flex-direction: row;
            justify-content: center;
        }
    </style>
</head>
<body>

    <!-- <div "> -->
        <img src="<%= imageUrl %>">
    <!-- </div> -->
    

</body>
</html>