<!DOCTYPE html>
<html>
<head>
<title>Trail of Lights</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:type" content="article" />
<meta property="og:title" content="Trail of Lights" />
<meta property="og:description" content="See you next year!" />
<!-- check for missing og: link and image tags -->
</head>
<body>
	<style>
		img {
			width: 100%;
    		height: auto;
		}
	</style>
	<% for(var i=0; i < imageArray.length; i++) { %>
		<img src="<%= imageArray[i] %>"></img>
	 <% } %>
</body>
</html>