<!DOCTYPE html>
<html>
<head>
<title>Trail of Lights</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:url" content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Trail of Lights" />
<meta property="og:description" content="See you next year!" />
<meta property="og:image" content="https://s3.amazonaws.com/nameless-fortress-95164<%= image %>" />
</head>
<body>
	<img src="https://s3.amazonaws.com/nameless-fortress-95164<%= image %>"></img>
</body>
</html>