<!DOCTYPE html>
<html>
<head>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <style>
        input,button {
            display: block;
        }
        button {
            margin-bottom: 25px;
        }
        p {
            font-size: 10px;
        }
    </style>

    <p id="status"><%= status %></p>

    <input id="loginEmail" type="email" placeholder="Email">
    <input id="loginPassword" type="password" placeholder="Password">
    <button id="login">Login</button>

    <input id="createEmail" type="email" placeholder="Email">
    <input id="createPassword" type="password" placeholder="Password">
    <button id="create">Create Account</button>

    <input id="resetEmail" type="email" placeholder="Email">
    <button id="reset">Reset Password</button>

    <script>
        document.querySelector('#login').addEventListener('click',function(){
            var email = document.querySelector('#loginEmail').value
            var password = document.querySelector('#loginPassword').value

            // Create the request.
            var xhr = new XMLHttpRequest()
            xhr.open("POST", "<%= rootUrl %>/login")
            xhr.setRequestHeader("Content-Type", "application/json")
            xhr.withCredentials = true
            xhr.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        window.location.assign('/dashboard')
                    } else {
                        document.getElementById('status').innerText = 'Error logging in'
                    }
                }
            }
            // Send the request.
            xhr.send(JSON.stringify({
                email:email,
                password:password
            }))
            
        })
        document.querySelector('#create').addEventListener('click',function(){
            var email = document.querySelector('#createEmail').value
            var password = document.querySelector('#createPassword').value

            // Create the request.
            var xhr = new XMLHttpRequest()
            xhr.open("POST", "<%= rootUrl %>/create")
            xhr.setRequestHeader("Content-Type", "application/json")
            xhr.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        window.location.assign('/dashboard')
                    } else {
                        document.getElementById('status').innerText = 'Error creating account'
                    }
                }
            }
            // Send the request.
            xhr.send(JSON.stringify({
                email:email,
                password:password
            }))
        })
        document.querySelector('#reset').addEventListener('click',function(){
            var email = document.querySelector('#resetEmail').value

            // Create the request.
            var xhr = new XMLHttpRequest()
            xhr.open("POST", "<%= rootUrl %>/reset")
            xhr.setRequestHeader("Content-Type", "application/json")
            // Send the request.
            xhr.send(JSON.stringify({
                email:email
            }))
        })
    </script>
</body>
</html>